@import "component/reset";
@import "component/font";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100%;
  position: relative;
  margin: 0;
  font-family: "HelveticaNeueLTPro", Helvetica, Arial, sans-serif;
  color: #333;
  background: #fff;
}

a {
  text-decoration: none;
}

#ad_container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

  .elements {
    width: 200%;
  }

  .ad {
    float: left;
    height: 100%;
    width: 50%;
    background-size: cover;
    //background-size: 100% auto;
    background-repeat:  no-repeat;

    .info {
      div {
        padding: 15px 20px;
        background: rgba(255,255,255,0.7);
        width: 23%;
        margin-top: 2.7%;
        margin-left: 4.7%;
        box-sizing: border-box;

        h2 {
          //font-size: 33px;
          font-size: 2.063em;
          color: #003974;
          line-height: 1.3;
        }

        .prize {
          //font-size: 21px;
          font-size: 1.313em;
          margin-top: 35px;
          margin-bottom: 30px;
          font-weight: 100;

          span {
            font-weight: normal;
            color: #003974;
          }
        }

        .text {
          //font-size: 26px;
          font-size: 1.625em;
          line-height: 1.1;
          font-weight: 100;
        }
      }

    }

    &.ad_1 {
      background-image: url(../img/big_img_1.jpg);
    }

    &.ad_2 {
      background-color: yellow;
    }

  }

  &.min {
    height: 26%;

    .ad {
      display: table;
      overflow: hidden;

      .info {
        display: table-cell;
        vertical-align: middle;

        div {
          width: 82%;
          margin-left: 2.3%;
          margin-top: 0;
          padding-top: 0;
          padding-bottom: 0;
          display: table;

          h2 {
            line-height: normal;
            width: 34%;
            height: 100%;
            //float: left;
            padding: 15px 15px 15px 0;
            border-right: 1px solid #000;
            box-sizing: initial;
            display: table-cell;
            vertical-align: middle;
          }

          .prize {
            margin: 0 0 0 20px;
            //float: left;
            width: 18%;
            //padding-top: 24px;
            padding-left: 20px;
            display: table-cell;
            vertical-align: middle;
            font-weight: 100;

            i:first-child {
              margin-bottom: 10px;
              display: inline-block;
            }

            span {
              margin-bottom: 0;
            }
          }

          .text {
            line-height: normal;
            font-weight: 100;
            display: table-cell;
            vertical-align: middle;
          }
        }

      }

      &.ad_1 {
        background-image: url(../img/small_img_1.jpg);
      }

      &.ad_2 {
        background-color: yellow;
      }
    }
  }
}

#tours_container {
  width: 100%;
  height: 65.6%;
  overflow: hidden;
  position: absolute;
  bottom: 6%;
  z-index: 1;
  background-color: #fff;
  opacity: 0;

  .elements {
    width: 287%;

    .tour {
      float: left;
      height: 100%;
      width: 14.0%;
      margin-right: 5px;
      overflow: hidden;
      //position: relative;
      display: table;
      //text-align: center;
      background: url(../img/test.jpg) no-repeat 0 0;
      //background-size: 14.2% 100%;
      background-size: auto  100%;
      //background-size: 100% auto;

      img {
        //width: 100%;
        height: 100%;
        display: none;
      }

      .info {
        display: table-cell;
        vertical-align: middle;
        /*position: absolute;
        right: 24%;
        left: 24%;
        top: 24%;
        bottom: 24%; */
        //padding: 5px;
        //background: rgba(255,255,255,0.7);

        div {
          padding: 5px;
          background: rgba(255,255,255,0.7);
          margin-right: 24%;
          margin-left: 24%;
        }
      }
    }
  }

  &.min {
    height: 0;
  }
}

.elements {
  position: absolute;
  left: 0;
  height: 100%;
}

footer {
  width: 100%;
  height: 6%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: #000;
  color: #fff;

  a {
    color: #fff;

    &#start_btn {
      position: absolute;
      right: 5%;
      bottom: 200%;
      font-size: 38px;
      color: #003974;
      display: block;
      background-color: #fff;
      height: 100px;
      width: 100px;
      line-height: 100px;
      border-radius: 50px;
      text-align: center;
    }
  }
}


/* Slider plugin */
.bx-wrapper {
  height: 100%;

  .bx-viewport {
    height: 100%!important;
  }
}