@font-face {
  font-family: 'HelveticaNeueLTPro';
  src: url('../font/HelveticaNeueLTPro-BdCn.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeueLTProLT';
  src: url('../font/HelveticaNeueLTPro-Lt.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HelveticaNeueLTProRoman';
  src: url('../font/HelveticaNeueLTPro-Roman.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}